@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html{font-size: 15px;}
body {
    font-family:"Noto Sans KR", sans-serif;
    font: size 1.5rem;
    color: #333;
}
h1{font-weight: normal;}

h1,
h2,
h3 {
    font-family:"NanumSquareNeo", sans-serif;
}
h1,h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.4rem;
}
input, button{
    font: 1.5rem 'Noto Sans KR',sans-serif;
}
a {
    color: #111;
}
::placeholder {
    font-size: 1.5rem;
    color: #aaa;
}

button{
    color: #fff;
}
