@charset "utf-8";
@import url(reset.css);
@import url(typo.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css");
@import url(https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.17/jquery.bxslider.min.css);

/* fullpage - hana_nav */
#hana_nav {
    z-index:9999;
    position: fixed;
    left:0;
    bottom:0;
}
/* 푸터 높이*/
.fp-auto-height div {
    height: 200px;
    color: white;
    background: #000;
}
/* 오른쪽 중앙에 있는 푸터 숨기기 */
#fp-nav.right li:last-child {
    display: none;
}
.ibx{
    width: 1120px;
    margin: 0 auto;
}
/* header */
header{
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 90px;
    background: #adf909;
}
/* 섹션1 */


/* 슬라이드 */
.bx-wrapper{
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}
.bx-viexport{
    height: 100% !important;
}
.bx-wrapper li{
    width: 100vw;
    height: 100vh;
}

/*  */

.bx-wrapper .bx-pager.bx-default-pager a{
    background: #FFF;
    margin: 0 18px;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
    transform: scale(2,2);
    background: rgb(5, 248, 208);
}
.bx-wrapper .bx-controls-direction a{
    width: 40px;
    height: 80px;
    border:1px solid;
}
.bx-wrapper .bx-next {
   
    right:48px;

    background:url(../assets/next2.png)0px 0px no-repeat ;
}
.bx-wrapper .bx-next {
   
    right:48px;

    background:url(../assets/next.png)0px 0px no-repeat ;
}


/* 슬라이드 텍스트 */
#s1 .slidewrap p{
    z-index: 9999;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
/* 섹션2 */
#s2 .ibx h2{text-align: center;}
#s2 .ibx h2+p{text-align: center;margin: 24px 0 48px;}

/* 탭 공통 */
#s2 #tabs{position: relative;}
#s2 #tabs ul{display: flex; align-items: flex-end;}

/* 탭의 버튼 */
#s2 #tabs>ul {position: absolute; right: 0;width: 474px;}
#s2 #tabs>ul>li:not{margin: 0;}
#s2 #tabs>ul>li:not(:first-child)::before {content:'|'; margin-right: 24px;}

/*  */

#s2 #tabs






/* 섹션2 */
#s2 {padding:72px 0;}
#s2>.inner>h2 {text-align: center;}
#s2>.inner>h2+p {text-align: center; margin: 24px 0 48px;}

/* 탭 공통 */
#s2 #tabs {position: relative;}
#s2 #tabs ul {display: flex; align-items: flex-end;}

/* 탭의 버튼 */
#s2 #tabs>ul {position: absolute; right:0; width:474px;}
#s2 #tabs>ul>li:not(:first-child) {margin:0 16px;}

/* 탭의 콘텐츠 */
#s2 #tabs>div ul {height:432px;}
#s2 #tabs>div ul li:nth-child(1) {align-self: flex-start;}
#s2 #tabs>div ul li:nth-child(2) {margin: 0 30px 0 75px;}
#s2 #tabs>div ul li {height: 216px;}
#s2 #tabs>div a {display:block; width: 222px; height: 168px;}
#s2 #tabs>div a.rank1 {width: 570px; height: 432px;}
#s2 #tabs>div a.rank1+h3 {position: absolute; width:474px; height:48px; right:0; top:48px; text-wrap: nowrap;}

/* 탭의 기능 핵심 */
#s2 #tabs>div {display: none;}
#s2 #tabs>div.on {display: block;}

/* 섹션4 */
#s4 .cont {
 
    width: 560px;
}

#s4 h3 {
    position: relative;
    margin: 24px 0 48px 0;
}
#s4 h3::after{
    content: "";
    z-index: -4;
    position: absolute; left: 0;top: 100px;
    width:360px ; height: 40px;
    background: #5E2BB8;
    
}
#s4 p:last-of-type {
    margin: 24px 0;
}

#s4 .link a {
    display: inline-block;
    padding: 16px 24px;
    background-color: #5E2BB8;
    transition: .1s;
}
/* transform
    1. scale (1,1), scalex(1),  scaleY(1), 
    2. rotate (0deg)
    3. translate(0px, 0px)
    4. skew (0deg, 0deg)
*/


#s4 .link a:hover{
    transform: translateY(-4px);
    background-color: #a083d3;

}
#s4 .link a:first-child{
    margin-right: 20px;
}






