@charset "utf-8";
.a{
    display: flex;
    align-content: center;
    justify-content: center;
}
body {
    font: 1.5rem/1.5 "Noto Sans KR", sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 28px;
    font-weight: 700px;
}

h2 {
    font-size: 22px;
    text-align: center;
}

body {
    margin: 0 auto;
    background: #fff;
}

span{
    text-align: center;
}


:root {
    font-size: 10px;
}
/* 공통 */
.choose {
    background-color: #fff;
    width: 602px;
    height: 190px;
    padding: 20px;
    font-size: 30px;
}
.call{
    background-color: #fff;
    width: 602px;
    height: 190px;
    padding: 20px;
    font-size: 30px;
}

/* 매장에서 주문하기 */
.green {
    width: 608px;
    height: 249px;
    background-color: #009132;
    padding: 24px;
    margin: 23px;
    
}


/* 전화상담하기 */
.puple{
    display:flex;
    width: 608px;
    height: 249px;
    background-color: #009132;
    padding: 24px;
    margin: 23px;
}
.call.p{
    font-size: 2.2rem;
}
.call img{
    width: 140px;
    height: 108px;
}





/* 전체 크기 */
.box {
    width: 1920px;
    height: 796px;
    background-color: #FFC20D;
}


.box p {
    font-size: 22px;
    text-align: center;
}

/* 매장찾기, 전화상담문의 */



  


/*이미지 넣기 */
img{
    width: 140px;
    height: 108px;
    margin: 20px;

}






