@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
    font-size: 10px;
}

body {
    font: 1.5rem/1.5 "Noto Sans KR", sans-serif;
    line-height: 1.5;
}

.box1,h2 {
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background: #fff;
}

h1 {
    font-size: 28px;
    font-weight: 700px;
}
img{
    display: flex;
    justify-content: center;
    align-items: left;

}
h2{
    vertical-align: top;
    font-weight: 700;
}

/* 전체 크기 */
.box {
    width: 1920px;
    height: 796px;
    background-color: #FFC20D;
}
.box .barw {
    display: flex;
}
.box .barw img {
    margin-top: 9px;
}


.box p {
    font-size: 22px;
    text-align: center;
}


/*공통 */
.common{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* 매장 찾기 주문 */
.choose img{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* 전화상담문의 */
#sec1,#sec2{

    width: 608px;
    height: 249px;
    background-color: #009132;
    margin: 23px;
    padding:24px;
  
}
.call{
   text-align: center;
}

.box2,h2{
    font-size: 22px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

/*하얀색 박스 */
.box1,.box2 {
    display: flex;
    background-color: #fff;
    width: 602px;
    height: 243px;
    /* margin: 23px; */
    padding: 0 20 0px;
}

/* 이미지 */
img{
    width: 140px;
    height: 108px;
    padding:0 40px;
}

/* 폰트 */

.bar img{
    width: 5px;
    height: 17px;
}

b{  
    font-size: 22px;
    text-align: center;
}




