@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    box-sizing: border-box;

    line-height: none;
}
body{
        background: #fff;
}
:root {
    font-size: 10px;
}

body {
    font: 1.5rem/1.5 "Noto Sans KR", sans-serif;
    line-height: 1.5;
}
/* 스탭1 */
.step1{
    width: 1920px;
    height: 627px;
    background-color: #FFC20D;

}
.menu{
    width: 279px;
    height: 60px;
    background:#58006C;
    transform: translate(50px,50px);
}
.menu p{
    display: flex;
    font-size: 18px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
  /*   transform: translate(50%,-50%); */
}
span{
    font-size: 22px;
    /* line-height: 100px; */
    margin: 113px;
    /* text-align: center;
    transform: translate(50%,50%); */
    
}
img{
    width: 552px;
    height: 331px;
}