@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face { font-family: 'NanumSquareNeo'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2'); } 

/* 글꼴과 색상은 임의 지정한다. */

html { font-size: 10px; } 
body { font-family: "Noto Sans KR", sans-serif; font-size: 1.5rem; color: #333; } 
h1 {font-weight: normal;}
h1,h2,h3 { font-family: "NanumSquareNeo", sans-serif; } 
h1,h3 { font-size: 1.5rem; } 
h2 { font-size: 2.4rem; } 

/* a태그는 글자색을 상속받지 않는다. */
a { color: #111;} 

/* input, button, ::placeholder는 글자색, 글자크기, 글꼴 등을 상속받지 않는다. */
input {font-size:1.5rem;font-family: "Noto Sans KR", sans-serif;}
::placeholder {font-family: "Noto Sans KR", sans-serif; font-size: 1.5rem; color: #aaa;}
button {font-size:1.5rem; color: #fff;font-family: "Noto Sans KR", sans-serif;}

/* 헤더 */
/* 섹션1 */
#sec1 h2 {
    letter-spacing: 4px;
    font-weight: 400;
}
#sec1 b {
    color: #fff;
}
/* 섹션2 */
#sec2 h3 {
    color: #fff;
}
/* 섹션3 */
#sec3 h3 {
    font-size: 2.4rem;
}
/* 섹션4 */
/* 푸터 */
footer {
    color: #fff;
}

/* 배경색 */
/* 헤더 */
header {
    background: #fff;   
}
/* 섹션1 */
#sec1 b {
    background: #000;
}
#sec1 div {
    background: #ccc;
}
/* 섹션2 */
#sec2 div {
    background: #ccc;
}
/* 섹션3 */
#sec3 div {
    background: #ccc;
}
#sec3 a {
    background: #ccc;
}
/* 섹션4 */
#sec4 button {
    background: #000;
}
#sec4 .map {
    background: #ccc;
}
/* 푸터 */
footer {
    background: #000;
}