@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@keyframes move {
    0% {
        left: 0;
    }

    100% {
        left: 300px;
    }
}

* {
    box-sizing: border-box
}

div {
    position: relative;
    left: 0;
    width: 1920px;
    height: 200px;
    background: yellow;
    margin: 5px;
    animation: move 3s infinite;
    text-align: center;
    justify-content: center;
    font-size: 35px;
}

div:nth-of-type(1) {
    animation-direction: normal;
}
div div{position: relative;
    left: 0;
    width: 1920px;
    height: 100px;
    background: yellow;
    margin: 5px;
    text-align: center;
    justify-content: center;
    font-size: 35px;}

body ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
}

html {
    font-size: 12px;
}

body {
    font-size: 12px;
    "Noto Sans kR",
    sans-serif;
}

.main li {
    display: block;
    text-align:center;
    font-size: 16px;
}

.main>li:hover>a {
    color: #fff;
}

.sub li a {
    display: inline;
    font-size: 1.4rem;
    color: #333;
}

.sub li:hover a {
    color: #fff;
}

header {
    position: relative;
    width: 1920px;
    height: 635px;
    margin-top: auto;

}

.gnb {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 2;
    background: #111;
}

.main {
    display: flex;
    transition: .3s;
}

.main>li {
    width: 160px;
    height: 30px;
    line-height: 30px;
}

.main>li:hover {
    background: #333;
}

.main::before {
    z-index: -1;
    position: absolute;
    top: 30px;
    right: 0;
    content: "";
    width: 1200px;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.main:hover::before {
    visibility: visible;
    opacity: 1;
    height: 200px;
}

.sub {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 10px 0 20px 0;
    transition: .3s;
}

.main:hover .sub {
    visibility: visible;
    opacity: 1;
    height: 120px;
}

.sub li a {
    padding: 4px 16px;
}

.sub li:hover a {
    background: #111;
}
